body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcedff; /* Light blue background */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set height to full viewport height */
}

#heading {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add margin at the bottom */
    position: absolute; /* Position the heading */
    top: 100px; /* Set the distance from the top */
    left: 50%; /* Center the heading horizontally */
    transform: translateX(-50%); /* Adjust the horizontal position */
    z-index: 1; /* Set the stacking order */
}

input {
    width: 100%; /* Make input full width */
    padding: 10px; /* Add padding */
    margin-top: 10px; /* Add margin at the top */
    margin-bottom: 10px; /* Add margin at the bottom */
    box-sizing: border-box; /* Include padding and border in the width */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
}

.container {
    max-width: 400px; /* Keep the original max-width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: rgba(199, 199, 199, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 0; /* Remove the top margin */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button full width */
    margin-top: 20px; /* Add margin at the top */
}
